<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display All Data</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        body {
            background-color: #ffd323;
        }
    </style>
</head>
<body>
    <a href="/" class="home-button-display">Kembali ke Home</a>
    <h1>All Data</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nama</th>
                <th>Alamat</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.nama }}</td>
                <td>{{ item.alamat }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>